main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(197, 215, 223, 0.324);

}
.results-summary {
    display: flex;
    width: 700px;
    padding: 10px;
    height: 500px;
}

.okay{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 60px;
    padding-right: 10px;
}

.summary {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    text-align: left;
    padding-bottom: 80px;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.summary-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 30px;
    margin-right: 29px;
   
}

.summary-item-title {
    display: flex;
    margin-top: 15px;
}

.score-percent {
    font-weight: 10px;
    color: blacks;
}

.results-grid-flow {
    display: grid;
    text-align: center;
    background-color: hsl(252, 94%, 41%);
    width: 350px;
    padding-right: ;
    color: aliceblue;
    border-radius: 30px;
}

.result-score {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color:rgba(14, 11, 170, 0.508);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
    padding-right:0px;
}

.result-score-number {
    font-size: 50px;
}

.score-percent {
    font-size: 18px;
}

.section-title {
    font-size:25px;
    margin-top: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.summary-title {
    color: black;
    margin-left: 20px;
}

.result-title {
    color: white;

}

.flex-group {
  display: flex;
  align-items: center;
}

svg {
    margin-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.summary-score {
    display: flex;
    justify-content: space-between;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    font-family:'Times New Roman', Times, serif;
    font-weight:130px;
    margin-top: 10px;
}

.red {
    background: hsla(0, 100%, 67%, 0.056);
}


.orange {
    background: rgba(255, 166, 0, 0.085);
}

.green {
    background: rgba(112, 208, 112, 0.074);
}

.blue {
    background-color: rgba(57, 17, 204, 0.056);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 14, 62, 0.887);
    margin-top: 30px;
    color: white;
    margin-left: 120px;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    margin-left: 20px;
    text-align: center;
    font-size: 3h;
}
